/*Small Phones 320px*/

@media only screen and (min-width: 320px) {
    #welcomepic {
        width: 100%;
        height: 200px;
    }
    img {
        width: 100%;
        height: 200px;
    }
    .matn {
        text-align: center;
    }
    h3 {
        color: blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    .izoh {
        width: 100%;
        overflow: hidden;
    }
    #aboutus {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h5 {
        color: rgb(126, 8, 110);
    }
    .collection {
        width: 100%;
        height: 200px;
    }
    .futer {
        width: 100%;
        height: 110px;
        margin-top: 5px;
        color: white;
        text-align: center;
        background-color: rgb(41, 38, 38);
    }
    .ikonkalar {
        width: 100;
        height: 50px;
        display: flex;
    }
    #ikonkabir {
        width: 10%;
        height: 30px;
        margin-left: 20%;
    }
    #ikonka {
        width: 10%;
        height: 30px;
        margin-left: 3%;
    }
    .sayt {
        display: contents;
    }
}


/*Small Phones 375px*/

@media only screen and (min-width: 375px) {
    #welcomepic {
        width: 100%;
        height: 200px;
    }
    img {
        width: 100%;
        height: 200px;
    }
    .matn {
        text-align: center;
    }
    h3 {
        color: blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    .izoh {
        width: 100%;
        overflow: hidden;
    }
    #aboutus {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .collection {
        width: 100%;
        height: 200px;
    }
    .futer {
        width: 100%;
        height: 110px;
        margin-top: 5px;
        color: white;
        text-align: center;
        background-color: rgb(41, 38, 38);
    }
    .ikonkalar {
        width: 100;
        height: 50px;
        display: flex;
    }
    #ikonkabir {
        width: 10%;
        height: 32px;
        margin-left: 20%;
    }
    #ikonka {
        width: 10%;
        height: 32px;
        margin-left: 3%;
    }
    .sayt {
        display: contents;
    }
}


/*Middle Phones 425px*/

@media only screen and (min-width: 425px) {
    #welcomepic {
        width: 100%;
        height: 250px;
    }
    img {
        width: 100%;
        height: 250px;
    }
    .matn {
        text-align: center;
    }
    h3 {
        color: blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    .izoh {
        width: 100%;
        overflow: hidden;
    }
    #aboutus {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .collection {
        width: 100%;
        height: 250px;
    }
    .futer {
        width: 100%;
        height: 110px;
        margin-top: 5px;
        color: white;
        text-align: center;
        background-color: rgb(41, 38, 38);
    }
    .ikonkalar {
        width: 100;
        height: 50px;
        display: flex;
    }
    #ikonkabir {
        width: 10%;
        height: 37px;
        margin-left: 20%;
    }
    #ikonka {
        width: 10%;
        height: 37px;
        margin-left: 3%;
    }
    .sayt {
        display: contents;
    }
}


/*Laptop*/

@media only screen and (min-width: 992px) {
    button {
        height: 40px;
    }
    input {
        height: 40px;
    }
    #welcomepic {
        width: 100%;
        height: 400px;
    }
    img {
        width: 100%;
        height: 700px;
    }
    .matn {
        text-align: center;
    }
    h3 {
        color: blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 5px;
    }
    .izoh {
        width: 100%;
        overflow: hidden;
    }
    #aboutus {
        font-family: cursive;
    }
    .collection {
        width: 100%;
        height: 700px;
    }
    .futer {
        width: 100%;
        height: 150px;
        margin-top: 5px;
        color: white;
        text-align: center;
        background-color: rgb(41, 38, 38);
    }
    .ikonkalar {
        width: 100;
        height: 50px;
        display: flex;
        background-color: rgb(41, 38, 38);
    }
    #ikonkabir {
        width: 3%;
        height: 40px;
        margin-left: 36%;
    }
    #ikonka {
        width: 3%;
        height: 40px;
        margin-left: 3%;
    }
    .sayt {
        display: contents;
    }
}